/*This is going to be the main css file*/

/*
 css objects bzw elements:

    ------------------------------------generic Header-bar #allpages------------------------------------------


    ------------------------------------fixed sidebar #RestaurantView-Speisekarte-----------------------------

    /* The sidebar menu */
    .sidenav {
        position: fixed;
        top: 200px;
        left: 10px;
        background: #eee;
        overflow-x: hidden;
        padding: 10px;
        border-radius: 10px;
    }

    .sidenav a {
        text-decoration: none;
        font-size: 25px;
        color: #2196F3;
        display: block;
    }

    .sidenav a:hover {
        color: #064579;
    }

    .head {
        text-align: center;
    }




    /*
    ----------------------------------generic-button-template #allpages---------------------------------------
    .orbtn {
    background-color:#E98758 ;
    color:#025252 ;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 20%;
    margin-top: 20px;
    opacity: 0.9;
    align-items: center;
    display: justify;
    border-radius: 40px;
    margin-bottom: -10px;
    font-family: "Istok Web";
    font-size: 100%;
    }

    .grnbtn {
    background-color:#025252 ;
    color:#E98758 ;
    padding: 15px;
    border: none;
    cursor: pointer;
    width: 20%;
    margin-top: 20px;
    opacity: 0.9;
    align-items: center;
    display: justify;
    border-radius: 40px;
    margin-bottom: -10px;
    font-family: "Istok Web";
    font-size: 100%;
    }

    ---------------------------special-buttons (bsp: add, edit, delete)--------------------------------------

    */
    .horizontal-center {
    margin: 20px;
    position: relative;
    }

    .addbtn {
    background-color: #bbbb;
    border: none;
    color: white;
    padding: 5px, 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    margin: 20px;
    border-radius: 50%;
    }

    /*

    --------------------------------generic Card Styles #allpages--------------------------------------------

    */
    .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    max-width: 400px;
    border-radius: 5px;
    margin: 20px;
    }

    .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    img {
    border-radius: 5px 5px 0 0;
    }

    .container {
    padding: 2px 16px;
    }

    .column {
        width: 33.33%;
        float: left;
    }

    .columnright {
        width: 33.33%;
        float: right;
    }

    /*

    --------------------------------------generic popups #allpages------------------------------------------


*/


