<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lieferspatz-restaurantLogin</title>
    <link rel="icon" type="image/x-icon" href="images/Lieferspatz.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<!-- Headerbar -->
<header>
    <div>
        <p>
        <a href="/">
        <img style="width:50px;height:50px;" src="{{ url_for('static', filename='images/Lieferspatz.svg') }}" alt="Logo">
        </a>
        <a href="/">
        <img src="{{ url_for('static', filename='images/LieferspatzSchrift.svg') }}" style="width:300px;height:50px;">
        </a></p>
        <hr>
    </div>
</header>

<!-- Speisekarte -->

<h1 class="head">Speisekarte</h1>
<h3 id="C1" class="head">Menü</h3>
{% for x in items %}
<div class="card">
    <img src="{{ url_for('static', filename='images/burgermenu.jpg')}}" style="width:100%">
    <div class="container">
        <h4>{{x.itmname}}</h4>
        <p>{{x.description}}</p>
        <p><b>{{x.price}}</b></p>
        <button class="plusbtn" type="button" onclick=increaseAmount({{x.id}})>+</button>
        <button class="minusbtn" type="button" onclick=decreaseAmount({{x.id}})>-</button>
        <p>Ammount:</p><p  id="{{x.id}}" >0</p>
    </div>
</div>

{% endfor %}
<script>

    function increaseAmount(amount){
        const y = document.getElementById(amount);
        let num = parseInt(y.innerHTML);
        num += 1;
        y.innerHTML = num;
    }

    function decreaseAmount(amount){
        const y = document.getElementById(amount);
        let num = parseInt(y.innerHTML);
        if (num > 0) {
            num -= 1;
            y.innerHTML = num;
        }
    }
</script>

<!-- Sidebar mit Kategorien als Menüpunkte -->
<div class="sidenav">
    <nav>
        <ul>
            <a href="#C1">Menü</a>
        </ul>
    </nav>
</div>


<!-- Place Order -->
<div>

</div>



<!-- footer -->
<footer>

</footer>

</body>
</html>
