<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lieferspatz-restaurantLogin</title>
    <link rel="icon" type="image/x-icon" href="images/Lieferspatz.svg">
</head>
<body>

<!-- Headerbar -->
<header>
    <div>
        <p>
        <a href="/">
        <img style="width:50px;height:50px;" src="{{ url_for('static', filename='images/Lieferspatz.svg') }}" alt="Logo">
        </a>
        <a href="/">
        <img src="{{ url_for('static', filename='images/LieferspatzSchrift.svg') }}" style="width:300px;height:50px;">
        </a></p>
        <hr>
    </div>
</header>

<h1>Customer Home</h1>

<!-- Restaurant Listing -->
<div>
    <p>Restaurant Listing</p>
</div>

    <h2 style="color: #025252; margin: 10px;">GEÖFFNETE RESTAURANTS</h2>
    <div class="box">
        {% for restaurant in restaurants %}

        <div class="resto">
            <div>
                <img src="{{ url_for('static', filename='images/not-available.png') }} ">
            </div>
            <div>
                <h2>{{ restaurant.name }}</h2>
                <p >{{ restaurant.beschreibung }}</p>
                <p><strong>Öffnungszeiten:</strong><br> {{ restaurant.openTime }}</p>

            </div>
        </div>
        {% endfor %}
    </div>

<!-- footer -->
<footer>

</footer>

</body>
</html>
