<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lieferspatz-restaurantLogin</title>
    <link rel="icon" type="image/x-icon" href="images/Lieferspatz.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<!-- Headerbar -->
<div  class=" header-layout">
    <div>
        <a href="{{ url_for('CatchResto')}}">
            <img class="logo" src="{{ url_for('static', filename='images/LP.PNG') }} ">
        </a>
    </div>
    <div style=" padding: 10px;">
        <form action="{{ url_for('logout') }}" method="POST">
            <button class="orbtn" type="submit">Logout</button>
        </form>
        <a href="{{ url_for('profile')}}">
            <img style="height: 50px; margin-right: 20px;" src ="{{ url_for('static', filename='images/th.jfif') }} ">
        </a>

        <a href="{{ url_for('summary')}}">
            <img style="height: 50px; background-color: #aeaeae; padding: 5px ; border-radius: 100%; padding-right: 3px; padding-left: 7px;margin-right: 20px;" src ="{{ url_for('static', filename='images/WK.png') }} ">
        </a>
    </div>

</div>


<!-- Speisekarte -->
<div class="sidebar">
<h1 class="head">Speisekarte</h1>
<h3 id="C1" class="head">Menü</h3>

<div class="grid-container">

<div class="sidebar">
    <div>
        <img src="/{{restaurant.image}}" alt="{{ url_for('static', filename='images/not-available.png') }} ">
    </div>
    <h4>{{restaurant.name}}</h4>
    <p>{{restaurant.beschreibung}}</p>
    <p>Adresse: {{restaurant.strasse}}</p>
    <p>PLZ: {{restaurant.plz}}</p>
</div>

{% for x in items %}
<div>
    <img src="/{{x.image}}" style="width:100%">
    <div>
        <h4 id="itmhead_{{loop.index}}">{{x.itmname}}</h4>
        <p id="itmdesc_{{loop.index}}" style="margin: 0;">{{x.description}}</p>
        <p id="itmrestoID_{{loop.index}}" style="display: none;">{{x.restoid}}</p>
        <div style="display: flex; justify-content: center; align-items: center;">
            <p><b id="itmprice_{{loop.index}}" style="font-size: 24px;" >{{"%.2f"|format(x.price)}} </b></p><p style="display:inline; font-size: 24px;"><b>€</b></p>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <button class="add-subtract-btn" type="button" onclick=increaseAmount({{loop.index}})>+</button>
            <button class="add-subtract-btn" type="button" onclick=decreaseAmount({{loop.index}})>-</button>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <p>Amount: </p><p id="itmamount_{{loop.index}}">1</p>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <button class="orbtn" type="button" onclick=addToCart({{loop.index}})>add to cart</button>
        </div>
    </div>
</div>
{% endfor %}

</div>

<!-- footer -->
<footer>
<!-- Place Order -->
<div style="display: flex; justify-content: center; align-items: center;">
    <button class="orbtn" type="submit" onclick=place_Order()>zum Warenkorb</button>
</div>
</footer>

<script>
    const current_cart = [];

    function addToCart(cycle){
        let cart_item = {name: document.getElementById("itmhead_".concat(cycle.toString())).innerHTML, description: document.getElementById("itmdesc_".concat(cycle.toString())).innerHTML, price: document.getElementById("itmprice_".concat(cycle.toString())).innerHTML, amount: document.getElementById("itmamount_".concat(cycle.toString())).innerHTML, restoID: document.getElementById("itmrestoID_".concat(cycle.toString())).innerHTML};
        current_cart.push(Object.values(cart_item));
        alert("Item has been added to cart!")
    }

    function place_Order(){
        fetch('/submit_cart', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(current_cart),
        }).then(
    response => {
        if (response.redirected) {
            window.location = response.url
        } else {
            showLoginError()
        }
    }
)

    }


    function increaseAmount(amount){
        const y = document.getElementById("itmamount_".concat(amount.toString()));
        let num = parseInt(y.innerHTML);
        num += 1;
        y.innerHTML = num;
    }

    function decreaseAmount(amount){
        const y = document.getElementById("itmamount_".concat(amount.toString()));
        let num = parseInt(y.innerHTML);
        if (num > 1){
            num -= 1;
            y.innerHTML = num;
        }
    }
</script>
</body>
</html>
