<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lieferspatz-restaurantLogin</title>
    <link rel="icon" type="image/x-icon" href="images/Lieferspatz.svg">
</head>
<body>

<!-- Header Menu of the Page -->
<header>
    <!-- Top header menu containing
       logo and Navigation bar -->
    <div id="top-header">

        <!-- Logo -->
        <div id="logo">
            <img src="images/Lieferspatz.svg" style=width:50px;height:50px;>
            <img src="images/LieferspatzSchrift.svg" style="width:500px;height:50px;">
            <search>
                <form>
                    <input name="fsrch" id="fsrch" placeholder="enter Restaurant name">
                </form>
            </search>
            <!-- User Icon Placeholder -->
            <div>

            </div>
        </div>

    </div>
</header>

<h1>This is the Restaurant Overview Page</h1>

<div>
    <nav>
        <a href="#home">home</a>
    </nav>
</div>

<h2 id="home">Welcome Home!</h2>



</body>
</html>
