<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant & User Registration</title>
</head>
<body>
    <!-- Button to open the user registration form -->
    <button class="btn register" onclick="openForm('userForm')"><b>Kunden registrieren</b></button>

    <!-- Button to open the restaurant registration form -->
    <button class="btn register" onclick="openForm('restaurantForm')"><b>Restaurant registrieren</b></button>

    <!-- User Registration Form -->
    <div class="form-popup" id="userForm">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="User Icon">
        <form action="{{ url_for('registerKunde') }}" class="form-container" method="post">
            <h1>Benutzer registrieren</h1>
            <label for="vorname"><b>Vorname</b></label>
            <input type="text" placeholder="Vorname" name="vorname" required>

            <label for="nachname"><b>Nachname</b></label>
            <input type="text" placeholder="Nachname" name="nachname" required>

            <label for="adresse"><b>Adresse</b></label>
            <input type="text" placeholder="Adresse" name="adresse" required>

            <label for="postleitzahl"><b>Postleitzahl</b></label>
            <input type="number" placeholder="Postleitzahl" name="postleitzahl" required>

            <label for="password"><b>Passwort</b></label>
            <input type="password" placeholder="Passwort" name="password" required>

            <button type="submit" class="btn"><b>registrieren</b></button>
            <button type="button" class="btn cancel" onclick="closeForm('userForm')"><b>schließen</b></button>
        </form>
    </div>

    <!-- Restaurant Registration Form -->
    <div class="form-popup2" id="restaurantForm">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Restaurant Icon">
        <form action="{{ url_for('registerResto') }}" class="form-container" method="post">
            <h1>Restaurant registrieren</h1>
            <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Restaurant Name" name="name" required>

            <label for="strasse"><b>Strasse</b></label>
            <input type="text" placeholder="Strasse" name="strasse" required>

            <label for="plz"><b>Postleitzahl</b></label>
            <input type="text" placeholder="Postleitzahl" name="plz" required>

            <label for="Beschreibung"><b>Beschreibung</b></label>
            <input type="text" placeholder="Beschreibung" name="beschreibung" required>

            <label for="password"><b>Passwort</b></label>
            <input type="password" placeholder="Passwort" name="password" required>

            <label for="openTime"><b>Öffnungszeit</b></label>
            <input type="text" placeholder="Öffnungszeit" name="openTime" required>

            <button type="submit" class="btn"><b>registrieren</b></button>
            <button type="button" class="btn cancel" onclick="closeForm('restaurantForm')"><b>schließen</b></button>
        </form>
    </div>

  <script src= "{{ url_for('static', filename='login_popup.js') }}"></script>

</body>
</html>
