<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>restaurant</title>
</head>
<body>
    

<!-- Button to open popup form-->
 <button class="btn register" onclick="openForm()"><b>click to register</b></button>

 <!-- the form-->
  <div class="form-popup" id="myForm">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="User Icon">
    <form action="{{ url_for('registerResto) }}" class="form-container" method="post">
        <h1>Register</h1>
        <label for="name"><b>name</b></label>
        <input type="text" placeholder="name" name="name" required>

        <label for="strasse"><b>Nachname</b></label>
        <input type="text" placeholder="strasse" name="strasse" required>
        
        <label for="plz"><b>plz</b></label>
        <input type="text" placeholder="plz" name="plz" required>

        <label for="beschreibung"><b>beschreibung</b></label>
        <input type="number" placeholder="beschreibung" name="beschreibung" required>

        <label for="password"><b>password</b></label>
        <input type="text" placeholder="password" name="password" required>

        <label for="openTime"><b>open Time</b></label>
        <input type="text" placeholder="open Time" name="openTime" required>

        <button type="submit" class="btn"><b>Register</b></button>
        <button type="button" class="btn cancel" onclick="closeForm()"><b>Close</b></button>
    </form>
  </div>
  <script src= "{{ url_for('static', filename='login_popup.js') }}"></script>
</body>
</html>
