<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Update</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='addstyles.css') }}">
</head>
<body>
    

<!-- Button to open popup form-->
 <button class="btn register" onclick="openprofileForm('profileUpdateForm')"><b>click to register</b></button>

 <!-- the form-->
  <div class="form-popup" id="myForm">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="User Icon">
    <form action="{{ url_for('profile_update') }}" class="form-container" method="post">
        <h1>Register</h1>
        <label for="vorname"><b>Vorname</b></label>
        <input type="text" placeholder="Vorname" name="vorname" required>

        <label for="nachname"><b>Nachname</b></label>
        <input type="text" placeholder="Nachname" name="nachname" required>
        
        <label for="adresse"><b>adresse</b></label>
        <input type="text" placeholder="adresse" name="adresse" required>

        <label for="postleitzahl"><b>postleitzahl</b></label>
        <input type="number" placeholder="postleitzahl" name="postleitzahl" required>

        <label for="password"><b>password</b></label>
        <input type="text" placeholder="password" name="password" required>

        <button type="submit" class="btn"><b>Update</b></button>
        <button type="button" class="btn cancel" onclick="closeprofileForm()"><b>Close</b></button>
    </form>
  </div>
  <script src= "{{ url_for('static', filename='lspatz.js') }}"></script>
</body>
</html>
