<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lieferspatz-restaurantLogin</title>
    <link rel="icon" type="image/x-icon" href="images/Lieferspatz.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<!--  ___________________________________________________________________Headerbar_____________________________________________________________________  -->
<div  class=" header-layout">
    <div>
        <a>
            <img class="logo" src="{{ url_for('static', filename='images/LP.PNG') }} ">
        </a>
    </div>
    <div style=" padding: 10px;">
        <form action="{{ url_for('logout') }}" method="POST">
            <button class="orbtn" type="submit">Logout</button>
        </form>
        <a href="{{ url_for('profile')}}">
            <img style="height: 50px; margin-right: 20px;" src ="{{ url_for('static', filename='images/th.jfif') }} ">
        </a>
    </div>

</div>

<!-- _____________________________________________________________________Speisekarte____________________________________________________________________ -->

<h1 class="head">Speisekarte</h1>
<h3 id="C1" class="head">Menü</h3>

<div class="grid-container">

<div class="sidebar">
    <div>
        <img src="/{{restaurant.image}}" alt="{{ url_for('static', filename='images/not-available.png') }} ">
    </div>
    <h4>{{restaurant.name}}</h4>
    <p>{{restaurant.beschreibung}}</p>
    <p>Adresse: {{restaurant.strasse}}</p>
    <p>PLZ: {{restaurant.plz}}</p>
</div>
{% for x in items %}
<div>
    <img src="/{{x.image}}" style="width:100%">
    <div>
        <h4>{{x.itmname}}</h4>
        <p style="margin: 0;">{{x.description}}</p>
        <div style="display: flex; justify-content: center; align-items: center;">
            <p><b style="font-size: 24px;">{{"%.2f"|format(x.price)}}</b></p><p><b style="font-size: 24px;">€</b></p>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
            <button  type="button" onclick=showUpdateItemD({{x.id}}) style="border-radius:50px; border:none; background-color: #E98758; height: 30px; width:30px; margin-top: -5px; margin-left: 5px; margin-right: 5px;">
            <img style="width: 15px; height: 15px; display: justify;" src ="{{ url_for('static', filename='images/edit_pen.png') }} ">
            </button>
            <a href="{{ url_for('delitm', mid=x.id, restaurant_id=x.restoid) }}" style="margin-left: 5px; margin-right: 5px;">
            <img style="width: 20px; height: 20px; border-radius: 50px; padding: 5px; background-color: #E98758;" src ="{{ url_for('static', filename='images/trash_can.png') }} ">
            </a>
        </div>
    </div>
</div>

<!-- __________________________________Popup update Item____________________________________________________ -->
<dialog id="{{x.id}}">
        <form action="{{ url_for('upditm', updid=x.id) }}" method="post" enctype="multipart/form-data">
            <h3> Update {{x.itmname}} </h3>
            <input id="upitemname" name="upitemname" type="text" placeholder="{{x.itmname}}"}>Name</input><br><br>
            <input id="updescription" name="updescription" type="text">Description</input><br><br>
            <input id="upprice" name="upprice" type="number" step=0.01>Price</input><br><br>
            <input type="file" name="image_file" accept="image/*">Image</input><br><br>
            <input id="upcategory" name="upcategory" type="text">Category</input><br><br>
            <button type="submit" onclick=displayNewCard()>Submit</button>
            <button type="button" onclick=closeUpdateItemD({{x.id}})>Cancel</button>
        </form>
</dialog>

{% endfor %}
</div>
<!-- __________________________________Popup add new Item___________________________________________________ -->
<dialog id="createItem">
        <h3> New Item </h3>
        <form action="{{ url_for('itmadd', restaurant_id = restaurant.id) }}" method="post" enctype="multipart/form-data">
            <label>Name*</label>
            <input id="itemname" name="itemname" type="text"></input><br><br>
            <label>Beschreibung*</label>
            <input id="description" name="description" type="text"></input><br><br>
            <label>Preis*</label>
            <input id="price" name="price" type="number" step=0.01></input><br><br>
            <label>Bild (optional)</label>
            <input type="file" name="file" accept="image/*"></input><br><br>
            <label>Kategorie</label>
            <input id="category" name="category" type="text"></input><br><br>
            <button type="submit" class="grnbtn" onclick=displayNewCard()><b>Submit</b></button>
            <button type="button" class="orbtn" onclick=closeCreateItemD()><b>Cancel</b></button>
        </form>
</dialog>


<!-- footer -->
<footer>
    <div style="display: flex; justify-content: center; align-items: center;">
        <button id="tstbtn" class="orbtn" onclick=showCreateItemD() style="float:right;"><b>Produkt hinzufügen</b></button>
    </div>
</footer>
<!-- ___________________________________________________________________Temporal JavaScript______________________________________________________________ -->
<script>
const dialog = document.getElementById("createItem");

function showCreateItemD() {
    dialog.showModal();
}
function closeCreateItemD() {
    dialog.close();
}

function showUpdateItemD(x) {
    let updialog = document.getElementById(x)
    updialog.showModal();
}
function closeUpdateItemD(x) {
    let updialog = document.getElementById(x)
    updialog.close();
}

</script>
<script src="{{ url_for('static', filename='alert.js') }}"></script>
</body>
</html>
