<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lieferspatz-restaurantLogin</title>
    <link rel="icon" type="image/x-icon" href="images/Lieferspatz.svg">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<!--  ___________________________________________________________________Headerbar_____________________________________________________________________  -->
<header>
    <div>
        <p>
        <a href="/">
        <img style="width:50px;height:50px;" src="{{ url_for('static', filename='images/Lieferspatz.svg') }}" alt="Logo">
        </a>
        <a href="/">
        <img src="{{ url_for('static', filename='images/LieferspatzSchrift.svg') }}" style="width:300px;height:50px;">
        </a></p>
        <hr>
    </div>
</header>

<!-- _____________________________________________________________________Speisekarte____________________________________________________________________ -->

<h1 class="head">Speisekarte</h1>
<h3 id="C1" class="head">Menü</h3>

<div class="horizontal-center">
    <button id="tstbtn" class="addbtn" onclick=showCreateItemD() style="float:right;"><b>+</b></button>
</div>

{% for x in items %}
<div class="columnright">
<div class="card">
    <img src="{{ url_for('static', filename='images/burgermenu.jpg')}}" style="width:100%">
    <div class="container">
        <h4>{{x.itmname}}</h4>
        <p>{{x.description}}</p>
        <p><b>{{x.price}}</b></p>
        <button class="editbtn" type="button" onclick=showUpdateItemD({{x.id}})>edit</button>
        <a href="{{ url_for('delitm', mid=x.id, restaurant_id=x.restoid) }}">delete</a>
    </div>
</div>

</div>


<!-- __________________________________Popup update Item____________________________________________________ -->
<dialog id="{{x.id}}">
        <form action="{{ url_for('upditm', updid=x.id) }}" method="post" enctype="multipart/form-data">
            <h3> Update {{x.itmname}} </h3>
            <input id="upitemname" name="upitemname" type="text" placeholder="{{x.itmname}}"}>Name</input><br><br>
            <input id="updescription" name="updescription" type="text">Description</input><br><br>
            <input id="upprice" name="upprice" type="number">Price</input><br><br>
            <input type="file" name="file" accept="image/*" action="{{ url_for('upload_file') }}" >Image</input><br><br>
            <input id="upcategory" name="upcategory" type="text">Category</input><br><br>
            <button type="submit" onclick=displayNewCard()>Submit</button>
            <button type="button" onclick=closeUpdateItemD({{x.id}})>Cancel</button>
        </form>
</dialog>

{% endfor %}

<!-- __________________________________Popup add new Item___________________________________________________ -->
<dialog id="createItem">
        <h3> New Item </h3>
        <form action="{{ url_for('itmadd', restaurant_id = restaurant.id) }}" method="post" enctype="multipart/form-data">
            <input id="itemname" name="itemname" type="text">Name</input><br><br>
            <input id="description" name="description" type="text">Description</input><br><br>
            <input id="price" name="price" type="number">Price</input><br><br>
            <input type="file" name="file" accept="image/*" action="{{ url_for('upload_file') }}">Image</input><br><br>
            <input id="category" name="category" type="text">Category</input><br><br>
            <button type="submit" onclick=displayNewCard()>Submit</button>
            <button type="button" onclick=closeCreateItemD()>Cancel</button>
        </form>
</dialog>

<!-- ___________________________________________________________________Temporal JavaScript______________________________________________________________ -->
<script>
const dialog = document.getElementById("createItem");

function showCreateItemD() {
    dialog.showModal();
}
function closeCreateItemD() {
    dialog.close();
}

function showUpdateItemD(x) {
    let updialog = document.getElementById(x)
    updialog.showModal();
}
function closeUpdateItemD(x) {
    let updialog = document.getElementById(x)
    updialog.close();
}

</script>

<!-- footer -->
<footer>

</footer>

</body>
</html>
