<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lieferspatz-restaurantLogin</title>
    <link rel="icon" type="image/x-icon" href="images/Lieferspatz.svg">
</head>
<body>

<header>
    <div>
        <p>
        <a href="/">
        <img style="width:50px;height:50px;" src="{{ url_for('static', filename='images/Lieferspatz.svg') }}" alt="Logo">
        </a>
        <a href="/">
        <img src="{{ url_for('static', filename='images/LieferspatzSchrift.svg') }}" style="width:300px;height:50px;">
        </a></p>
        <hr>
    </div>
</header>

<h1>Restaurant Login Page</h1>

<form>
  <label for="fname">Restaurant name:</label><br>
  <input type="text" id="fname" name="fname" ><br>
  <label for="plz">PLZ:</label><br>
  <input type="text" id="plz" name="plz"
  ><br>
  <label for="adress">Adresse:</label><br>
  <input type="text" id="adress" name="adress"
  ><br>
  <label for="lrad">Lieferradius:</label><br>
  <input type="text" id="lrad" name="lrad" ><br>
  <label for="pwd">Password:</label><br>
  <input type="password" id="pwd" name="pwd"
  ><br>
  <label for="pwd">confirm Password:</label><br>
  <input type="password" id="pwd" name="pwd"
  ><br>
  <label for="im">Logo</label><br>
  <input type="image" id="im" name="im"
  ><br>

  <br>
  <input type="submit" value="Submit">
  <button type="button" onclick="alert('are you sure you want to cancel?')">Cancel</button>
</form>

</body>
</html>
