<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lieferspatz-restaurantLogin</title>
    <link rel="icon" type="image/x-icon" href="images/Lieferspatz.svg">
</head>
<body>

<!-- Headerbar -->
<header>
    <div>
        <p>
        <a href="/">
        <img style="width:50px;height:50px;" src="{{ url_for('static', filename='images/Lieferspatz.svg') }}" alt="Logo">
        </a>
        <a href="/">
        <img src="{{ url_for('static', filename='images/LieferspatzSchrift.svg') }}" style="width:300px;height:50px;">
        </a></p>
        <hr>
    </div>
</header>

<h1>Restaurant Profile Page</h1>

<!-- Restaurant Details (same as registration details) -->
<div>

</div>

<!-- Finance Balance #Wallet -->
<div>

</div>

<!-- Bestellhistorie Verweis -->
<div>

</div>

<!-- Verweis Edit Speisekarte -->
<div>

</div>

<!-- footer -->
<footer>

</footer>

</body>
</html>
