<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lieferspatz-restaurantLogin</title>
    <link rel="icon" type="image/x-icon" href="images/Lieferspatz.svg">
</head>
<body>

<header>
    <div>
        <p>
        <a href="/">
        <img style="width:50px;height:50px;" src="{{ url_for('static', filename='images/Lieferspatz.svg') }}" alt="Logo">
        </a>
        <a href="/">
        <img src="{{ url_for('static', filename='images/LieferspatzSchrift.svg') }}" style="width:300px;height:50px;">
        </a></p>
        <hr>
    </div>
</header>

<h1>This is a Heading</h1>
<p>This is a paragraph.</p>

<h3>Customer Pages</h3>
<div>
    <a href="cstmlogin">Login</a>
    <br>
    <a href="cstmhome">Home</a>
    <br>
    <a href="cstmprofile">Profile</a>
    <br>
    <a href="cstmwaren">Warenkorb</a>
    <br>
    <a href="cstmbsth">Bestellhistorie</a>
</div>

<h3>Restaurant Pages</h3>
<div>
    <a href="rstrlogin">Login</a>
    <br>
    <a href="rstrspkt">Home</a>
    <br>
    <a href="rstrprofile">Profile</a>
    <br>
    <a href="rstrbstlh">Bestellhistorie</a>
</div>

</body>
</html>
